.modal-delete {
  background: hsl(235, 12%, 19%);
  border-radius: 6px;
  width: 480px;
  height: 229px;
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;
  h5 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: hsl(0, 78%, 63%);
  }
  p {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: hsl(216, 15%, 57%);
    margin: 24px 0;
  }
  .modal-footer {
    display: flex;
    justify-content: space-between;
    width: 416px;
    .btn-delete {
      background: hsl(0, 78%, 63%);
      &:hover {
        background: hsl(0, 100%, 80%);
      }
    }
    .btn-cancel {
      background: hsl(216, 33%, 97%);
      color: hsl(242, 48%, 58%);
      &:hover {
        background: hsl(218, 18%, 91%);
      }
    }
    button {
      background-color: hsl(242, 48%, 58%);
      border-radius: 24px;
      color: hsl(0, 0%, 100%);
      cursor: pointer;
      font-family: "Plus Jakarta Sans";
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      height: 40px;
      line-height: 19px;
      width: 200px;
    }
  }
}
