@import "../../../app.component.scss";

.modal-delete {
  border-radius: 0.375rem;
  padding: 2rem;
  width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;
  h5 {
    @include headingL;
    color: $red;
  }
  p {
    @include bodyL;
    color: $lightGrey;
    margin: 1.5rem 0;
  }
  .modal-footer {
    display: flex;
    justify-content: space-between;
    width: 26rem;
    .btn-delete {
      background-color: $red;
      &:hover {
        background-color: $pink;
      }
    }
    .btn-cancel {
      background-color: $lavender;
      color: $slateBlue;
      &:hover {
        background-color: $lightLavender;
      }
    }
    button {
      @include button($slateBlue, $white);
    }
  }
}

.lightTheme {
  background-color: $white;
}

.darkTheme {
  background-color: $lightBlack;
}
