<div
  class="modal-delete"
  [ngClass]="{
    lightTheme: settings.colorTheme === 'light',
    darkTheme: settings.colorTheme === 'dark'
  }"
  (click)="onClickDefault($event)"
>
  <h5>
    Delete this {{ settings.modal === "DeleteBoard" ? "board" : "task" }}?
  </h5>
  <p>
    Are you sure you want to delete the {{ deleteTitle }}
    <br />
    This action {{ deleteWarning }}
  </p>
  <div class="modal-footer">
    <button class="btn-delete" (click)="deleteItem()">Delete</button>
    <button class="btn-cancel" (click)="closeModal()">Cancel</button>
  </div>
</div>
