<div
  class="header"
  [ngClass]="{
    lightTheme: settings.colorTheme === 'light',
    darkTheme: settings.colorTheme === 'dark'
  }"
  [style.width]="settings.navMenuExpanded ? '80.75vw' : '100vw'"
  [style.padding-left]="!settings.navMenuExpanded ? '15vw' : '0px'"
>
  <p class="header__title">{{ boardTitle }}</p>
  <div class="header__actions">
    <button (click)="addTask()" [disabled]="boardColumns === 0">
      + Add New Task
    </button>
    <img
      src="assets/images/icon-vertical-ellipsis.svg"
      alt="actions"
      (mouseenter)="toggleHeaderMenu(true)"
    />
    <div
      class="header__menu"
      *ngIf="showHeaderMenu"
      (mouseleave)="toggleHeaderMenu(false)"
    >
      <p (click)="openEditBoardModal()">Edit board</p>
      <p (click)="openDeleteModal()">Delete board</p>
    </div>
  </div>
</div>
