<div
  class="modal-edit"
  [ngClass]="{
    lightTheme: settings.colorTheme === 'light',
    darkTheme: settings.colorTheme === 'dark'
  }"
  (click)="onClickDefault($event)"
>
  <div class="task-header">
    <h5>{{ settings.modalData?.title }}</h5>
    <img
      src="assets/images/icon-vertical-ellipsis.svg"
      alt="actions"
      (mouseenter)="toggleHeaderMenu(true)"
    />
    <div
      class="header__menu"
      *ngIf="showHeaderMenu"
      (mouseleave)="toggleHeaderMenu(false)"
    >
      <p (click)="openEditTaskModal($event)">Edit task</p>
      <p (click)="openDeleteModal($event)">Delete task</p>
    </div>
  </div>
  <h6>
    We know what we're planning to build for version one. Now we need to
    finalise the first pricing model we'll use. Keep iterating the subtasks
    until we have a coherent proposition.
  </h6>
  <div class="subtask-list">
    <p>
      Subtasks ({{ completedSubtasks }} of
      {{ settings.modalData?.subTask?.length ?? 0 }})
    </p>
    <div
      class="subtask"
      *ngFor="let task of settings?.modalData?.subTask; let i = index"
    >
      <input type="checkbox" [id]="'checkbox' + i" [checked]="task.finished" />
      <label [for]="'checkbox' + i">{{
        task?.description || "Description unavailable"
      }}</label>
    </div>
  </div>
  <div class="current-status">
    <p>Current Status</p>
    <select id="status" name="status">
      <option value="To Do">To Do</option>
      <option value="In Progress">In Progress</option>
      <option value="Done">Done</option>
    </select>
  </div>
</div>
