<div class="modal-edit" (click)="onClickDefault($event)">
  <h5>Edit Board</h5>
  <div>
    <p>Board Name</p>
    <input
      class="board-input"
      type="text"
      id="boardName"
      [value]="selectedBoard.title"
    />
  </div>
  <div>
    <p>Board Columns</p>
    <div class="column-input" *ngFor="let list of selectedBoard.column">
      <input type="text" id="columnName" [value]="list.title" />
      <button class="btn-delete">&#x2715;</button>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn-addColumn">+ Add New Column</button>
    <button class="btn-save" (click)="closeModal()">Save Changes</button>
  </div>
</div>
