<div
  class="body"
  [ngClass]="{
    lightTheme: settings.colorTheme === 'light',
    darkTheme: settings.colorTheme === 'dark'
  }"
>
  <app-nav-menu
    [settings]="settings"
    [selectedBoard]="selectedBoard"
    [boards]="boards"
    (boardSelected)="onBoardSelected($event)"
  ></app-nav-menu>
  <div>
    <app-header
      [settings]="settings"
      [boardTitle]="selectedBoard?.title"
      [boardColumns]="selectedBoard?.column.length"
    ></app-header>
    <div class="main">
      <ng-container *ngIf="selectedBoard.column.length > 0; else noTask">
        <div class="column" *ngFor="let list of selectedBoard.column">
          <div class="column__title">
            <div
              class="circle"
              [ngStyle]="{ 'background-color': list.color }"
            ></div>
            <p>{{ list?.title }} ({{ list?.task?.length }})</p>
          </div>
          <app-task-item
            *ngFor="let task of list?.task"
            [task]="task"
            [settings]="settings"
          ></app-task-item>
        </div>
      </ng-container>
      <div
        class="new-column"
        *ngIf="selectedBoard.column.length > 0"
        (click)="editBoard()"
      >
        <p>+ New Column</p>
      </div>
      <ng-template #noTask>
        <div class="empty-board">
          <p>This board is empty. Create a new column to get started.</p>
          <button (click)="editBoard()">+ Add New Column</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="modal" *ngIf="settings.modal" (click)="closeModal()">
    <container-element [ngSwitch]="settings.modal">
      <app-modal-add-board
        *ngSwitchCase="'AddBoard'"
        [settings]="settings"
      ></app-modal-add-board>
      <app-modal-add-task
        *ngSwitchCase="'AddTask'"
        [settings]="settings"
      ></app-modal-add-task>
      <app-modal-delete
        *ngSwitchCase="'DeleteBoard'"
        [settings]="settings"
        [selectedBoard]="selectedBoard"
      ></app-modal-delete>
      <app-modal-delete
        *ngSwitchCase="'DeleteTask'"
        [settings]="settings"
      ></app-modal-delete>
      <app-modal-edit-board
        *ngSwitchCase="'EditBoard'"
        [settings]="settings"
        [selectedBoard]="selectedBoard"
      ></app-modal-edit-board>
      <app-modal-edit-task
        *ngSwitchCase="'EditTask'"
        [settings]="settings"
      ></app-modal-edit-task>
      <app-modal-view-task
        *ngSwitchCase="'ViewTask'"
        [settings]="settings"
      ></app-modal-view-task>
    </container-element>
  </div>
</div>
