.modal-edit {
    background: hsl(235, 12%, 19%);
    border-radius: 6px;
    width: 480px;
    height: 481px;
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 10;
    .board-input {
      margin-top: 8px;
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 23px;
      color: hsl(0, 0%, 100%);
      padding: 8px 16px;
    }
    h5 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      color: hsl(0, 0%, 100%);
    }
    p {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: hsl(0, 0%, 100%);
      margin-top: 24px;
    }
    input {
      border: 1px solid hsla(216, 15%, 57%, 0.25);
      border-radius: 4px;
      width: 416px;
      height: 40px;
      background-color: transparent;
    }
    .column-input {
      display: flex;
      align-items: center;
      margin: 8px 0 12px;
      input {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 23px;
        color: hsl(0, 0%, 100%);
        padding: 8px 16px;
      }
      button {
        margin-left: 16px;
        width: 14.85px;
        height: 14.85px;
        color: hsl(216, 15%, 57%);
        background-color: transparent;
        cursor: pointer;
        &:hover {
          color: hsl(216, 15%, 37%);
        }
      }
    }
    .modal-footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 416px;
      margin-top: 16px;
      .btn-addColumn {
        background-color: hsl(0, 0%, 100%);
        color: hsl(242, 48%, 58%);
        width: 416px;
        margin-bottom: 24px;
        &:hover {
          background-color: hsl(0, 0%, 90%);
        }
      }
      .btn-save {
        background-color: hsl(242, 48%, 58%);
        color: hsl(0, 0%, 100%);
        width: 416px;
        &:hover {
          background-color: hsl(242, 48%, 48%);
        }
      }
      button {
        border-radius: 24px;
        color: hsl(0, 0%, 100%);
        cursor: pointer;
        font-family: "Plus Jakarta Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        height: 40px;
        line-height: 19px;
        width: 200px;
      }
    }
  }
  